<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abing.mapper.DictTypeMapper">

    <resultMap id="BaseResultMap" type="com.abing.model.domain.DictType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dictName" column="dictName" jdbcType="VARCHAR"/>
            <result property="dictType" column="dictType" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createBy" column="createBy" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="updateBy" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dictName,dictType,
        status,createBy,createTime,
        updateBy,updateTime,remark
    </sql>
</mapper>
