<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abing.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.abing.model.domain.InterfaceInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="requestHeader" column="requestHeader" jdbcType="VARCHAR"/>
        <result property="responseHeader" column="responseHeader" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="invokeTotal" column="invokeTotal" jdbcType="BIGINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,description,
        url,requestHeader,responseHeader,
        status,method,userId,
        createTime,updateTime,invokeTotal,deleted
    </sql>

    <select id="listInterfaceFromIndex" parameterType="com.abing.model.domain.User"
            resultType="com.abing.model.dto.interfaceinfo.InterfaceInfoDTO">
        select ii.id,SUM(totalNum) totalNum,ii.`name`,ii.description,ii.`status`
        from interface_info ii JOIN user_interface_info uii on ii.id=uii.interfaceInfoId
        GROUP BY uii.interfaceInfoId ORDER BY totalNum DESC
    </select>

    <select id="searchInterfacesByName" parameterType="com.abing.model.domain.UserInterfaceInfo"
            resultType="com.abing.model.dto.interfaceinfo.InterfaceInfoDTO">
        select
            i.id,i.name,i.description,
            i.url,i.requestHeader,i.responseHeader,
            i.status,i.method,i.userId,
            i.createTime,i.updateTime,i.invokeTotal,i.deleted,ui.leftNum
        from interface_info i
                 inner join user_interface_info ui on i.id = ui.interfaceInfoId
        where ui.userId = #{userId}
          and i.name like '%${name}%'
    </select>
</mapper>
