<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abing.mapper.SysJobMapper">

    <resultMap id="BaseResultMap" type="com.abing.model.domain.SysJob">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="jobName" column="jobName" jdbcType="VARCHAR"/>
            <result property="jobGroup" column="jobGroup" jdbcType="VARCHAR"/>
            <result property="invokeTarget" column="invokeTarget" jdbcType="VARCHAR"/>
            <result property="cronExpression" column="cronExpression" jdbcType="VARCHAR"/>
            <result property="misfirePolicy" column="misfirePolicy" jdbcType="TINYINT"/>
            <result property="concurrent" column="concurrent" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createBy" column="createBy" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="updateBy" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,jobName,jobGroup,
        invokeTarget,cronExpression,misfirePolicy,
        concurrent,status,createBy,
        createTime,updateBy,updateTime,
        remark
    </sql>
</mapper>
